@import '/src/styles/const';

#error-body
{
    font-family: pixel;
    
    h1
    {
        color: rgb(0, 223, 167);
        text-shadow: #720808 4px 5px;
        font-size: 6em;
    }

    h2
    {
        color: $pacman;
        font-size: 3em;
        text-shadow: #776F87 4px 5px;
    }
}