@import '../const';

#error-body
{
    font-family: pixel;
    margin-top: -10em;
    
    h1
    {
        color: rgb(0, 223, 167);
        text-shadow: #720808 4px 5px;
        font-size: 12em;
    }

    h2
    {
        color: $pacman;
        font-size: 6em;
        text-shadow: #776F87 4px 5px;
    }

    a
    {
        color: $pacman;
        text-decoration: none;
        text-shadow: #776F87 4px 5px;
    }
}