$text_color : #FFFFFF;
$pacman : #FFC300;
$background_color_gradient : #280E2F, #121345;
$button_background_color_gradient : #280E2F, #121345;
$error_text_color : #116b25, #9e1818;
$button_color : #FFC300;
$button_text_color : #ffe600;
$button_hover_text_color : #ffffff;
$button_border_color : #FFC300;