@font-face
{
    font-family: slb;
    src: url(../assets/fonts/superfont/superLegendBoy.ttf);
}

@font-face {
    font-family: pac0;
    src: url(../assets/fonts/pacfont/Pacfont0.ttf);
}

@font-face {
    font-family: pac1;
    src: url(../assets/fonts/pacfont/Pacfont1.ttf);
}