@import '../const';

#title
{   
    font-family: pac0;
    text-align: center;

    width: 50em;
    margin: 0 auto;

    h1
    {
        color: $text_color;
        font-size: 6em;
        text-shadow: #776F87 4px 5px;
        animation: scale 3s infinite;
        font-family: pac0;
        padding-top: 1em;
    }

    p
    {
        color: $pacman;
        font-size: 4em;
        letter-spacing: 0.3em;
    }

    i
    {
        color: $pacman;
        font-size: 2em;
        text-align: end;
    }

    @keyframes scale
    {
        0% { transform: scale(1); }
        50% { transform: scale(1.2); }
        100% { transform: scale(1); }
    }
}