@import '../const.scss';

.cmd-toggle-btn
{
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.3);
    color: $pacman;
    font-size: 2em;
    cursor: pointer;
    outline: none;
}