@import '../const.scss';

#terminal
{
    border: black 0.5em solid;
    border-radius: 2em;

    width: 70em;
    height: 30em;

    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;

    background-color: rgba(0, 0, 0, 0.3);

    output
    {
        margin-bottom: 10px;
    }

    p
    {
        color: $pacman;
        font-size: 1em;
        margin: 1em;

        span
        {
            text-decoration: underline;
        }

        input
        {
            color: $text_color;
            caret-color: #FFC300;
            outline: none;
            font-size: 1em;

            background-color: transparent;
            border: none;
            color: white;
            font-family: monospace;
            margin: 0;
            padding: 0;
            width: 80%;
        }
    }
}

.hidden
{
    display: none;
}